:root {
  --main-title-color: #212121;
  --main-text-color: #757575;
  --main-btn-color: #FFFFFF;
  --main-bg-color: #2F303A;
  --main-hover-color: #2196F3;
  --main-color-icon: #AFB1B8;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  align-items: baseline;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: var(--main-btn-color);
  background-color: var(--main-hover-color);
  border-radius: 4px;
  display: block;
  padding: 10px 32px;
  margin: auto;
  min-width: 200px;
  height: 50px;
  border: none;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 400ms, visibility 400ms;
}

.backdrop.is-hidden .modal {
  transform: scale(0.5);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--main-btn-color);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 400ms;
  padding: 40px;
}

@media screen and (max-width: 1200px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

.modal__close {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid var(--main-color-icon);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__close-icon {
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-icon:hover {
  fill: var(--main-hover-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  padding-right: 15px;
  background-color: transparent;
  transition: border-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:focus {
  border-color: var(--main-hover-color);
}

.modal__form-input:focus + .modal-input-icon {
  fill: var(--main-hover-color);
}

.modal__form-input-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  display: block;
  margin-bottom: 4px;
}

.modal__form-field {
  margin-bottom: 10px;
}

.modal__form-field-last {
  margin-bottom: 0;
}

.modal__form-input-comment {
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  background-color: transparent;
  resize: none;
}

.modal__form-input-comment::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-input-comment:focus {
  border-color: var(--main-hover-color);
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input-wrap {
  position: relative;
}

.modal__form-checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal__checkbox-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  position: relative;
  display: flex;
  align-items: center;
}

.modal__checkbox-text::before {
  content: "";
  width: 38px;
  height: 22px;
  border-radius: 50px;
  border: 1px solid var(--main-color-icon);
  margin-right: 4px;
  background-color: var(--main-btn-color);
  transition: background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox-text::after {
  content: '';
  position: absolute;
  left: 1px;
  top: 2px;
  width: 20px;
  height: 20px;
  background-color: var(--main-hover-color);
  border-radius: 50%;
  transition: transform 250ms linear, background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1200px) {
  .modal__checkbox-text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .modal__checkbox-text::before {
    content: "";
    width: 25px;
    height: 8px;
    border-radius: 50px;
    border: 1px solid var(--main-color-icon);
    margin-right: 4px;
    background-color: var(--main-btn-color);
    transition: background-color 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__checkbox-text::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 3px;
    width: 8px;
    height: 8px;
    background-color: var(--main-hover-color);
    border-radius: 50%;
    transition: transform 250ms linear, background-color 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal__checkbox:checked + .modal__checkbox-text::after {
  transform: translateX(17px);
  background-color: var(--main-hover-color);
}

.modal__checkbox:checked + .modal__checkbox-text::before {
  background-color: var(--main-color-icon);
}

.modal__link {
  color: var(--main-hover-color);
}

@media screen and (min-width: 480px) {
  .modal__link {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.header {
  height: 60px;
  align-items: center;
  display: flex;
  border-bottom: 1px solid #ECECEC;
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    height: 80px;
    display: flex;
    justify-content: center;
  }
}

.header-container {
  align-items: center;
  box-sizing: border-box;
  align-content: center;
}

@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .header-container {
    display: flex;
    min-width: 1200px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-hover-color);
}

.header__nav-logotyp {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-logotyp:hover {
  color: var(--main-hover-color);
}

@media screen and (min-width: 768px) {
  .open-mob-menu {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .open-mob-menu {
    display: none;
  }
}

.header__nav-list {
  display: none;
  padding-left: 0;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .header__nav-list {
    display: flex;
    padding-left: 78px;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header__nav-list {
    padding-left: 0;
  }
}

.header__nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-link:hover, .header__nav-link:focus {
  color: var(--main-hover-color);
}

@media screen and (min-width: 1200px) {
  .header__nav-link {
    padding-right: 93px;
  }
}

.header__nav-list-item {
  padding-right: 50px;
}

.header__nav-list-item:last-child {
  padding-right: 305px;
}

@media screen and (min-width: 768px) {
  .header__nav-list-item:last-child {
    padding-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header__nav-list-item {
    padding-right: 50px;
  }
  .header__nav-list-item:last-child {
    padding-right: 305px;
  }
}

.header__nav-list-link {
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header__nav-list-link:hover, .header__nav-list-link:focus {
  color: var(--main-hover-color);
}

.header__nav-list-link.current::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--main-hover-color);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: -32px;
}

.header__contact {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__contact {
    display: flex;
    margin-right: 0;
    flex-direction: column;
    padding-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact {
    display: flex;
    text-align: center;
    flex-direction: row;
    padding-left: 0;
  }
}

.connect {
  margin-left: auto;
}

.header__contact-mail,
.header__contact-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .header__contact-mail,
  .header__contact-tel {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact-mail,
  .header__contact-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    margin-right: 30px;
  }
}

.header__contact-mail,
.header__contact-tel {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact-mail:hover, .header__contact-mail:focus,
.header__contact-tel:hover,
.header__contact-tel:focus {
  color: var(--main-hover-color);
}

.header__contact-mail:last-child,
.header__contact-tel:last-child {
  margin-right: 0;
}

.header__contact-social-icon {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .header__contact-social-icon {
    margin-right: 8px;
  }
}

.open-mob-menu {
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.open-mob-menu:hover {
  fill: var(--main-hover-color);
}

.header__contact-social-icons {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .header__contact-social-icons {
    margin-right: 8px;
  }
}

.open-mob-menu {
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  padding-top: 15px;
  padding-left: 15px;
}

.mob-menu .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mob-menu__list {
  padding: 0;
  margin: 0 auto;
}

.mob-menu__close-mob-menu {
  display: block;
  margin-left: auto;
  border: none;
  background-color: transparent;
}

.mob-menu__close-mob-menu:hover {
  fill: var(--main-hover-color);
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 36px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__link:hover {
  color: var(--main-hover-color);
}

.mob-menu__link:focus {
  color: var(--main-hover-color);
}

.mob-menu__tel {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
  display: block;
}

.mob-menu__mail {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  display: block;
  margin-top: 32px;
}

.mob-menu__social-list {
  display: flex;
  padding: 0;
  margin-top: 64px;
  margin-bottom: 48px;
}

.mob-menu__social-item:not(:last-child) {
  margin-right: 20px;
}

.mob-menu__social-item::after {
  content: '';
  width: 22px;
  height: 0px;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mob-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-menu__top {
  width: 100%;
}

.hero {
  background-color: var(--main-bg-color);
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), #2f303a66), url(../img/hero/hero-bg-mob-1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-bg-mob-2x.png);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-bg-tab-1x.png);
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-bg-tab-2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero_bg.png);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  font-weight: 900;
  font-style: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  height: 120px;
  margin: 0 auto 30px;
  color: var(--main-btn-color);
  width: 360px;
  height: 84px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    min-height: 120px;
  }
}

.section-about {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-about {
    padding-top: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .about-container {
    height: 251px;
  }
}

.about-list {
  padding-left: 0;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .about-list {
    display: flex;
    padding-left: 0;
    margin: 0 auto;
  }
}

.about-list__item {
  width: 450px;
  height: 226px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about-list__item {
    margin: 15px;
    width: calc(100% / 2 - 30px);
  }
  .about-list__item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .about-list__item {
    width: 270px;
    height: 120px;
    margin: 0 30px 0 0;
  }
  .about-list__item:last-child {
    margin-right: 0;
  }
}

.about-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 auto;
  color: var(--main-title-color);
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about-list__title {
    text-align: start;
  }
}

.about-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  max-width: 450px;
  margin-bottom: 0;
  color: var(--main-text-color);
  margin-bottom: 30px;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .about-list__text {
    width: 354px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .about-list__text {
    width: 270px;
    margin-bottom: 0;
  }
}

.about-list__icon {
  display: block;
  width: 70px;
  height: 70px;
}

.about-list__bg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  border: none;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about-list__bg-icon {
    width: 354px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .about-list__bg-icon {
    width: 270px;
    height: 120px;
  }
}

@media screen and (max-width: 1199px) {
  .directions {
    display: none;
  }
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin: 0 auto;
  margin-bottom: 50px;
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  margin-top: 0;
  padding-left: 0;
}

.work__list-item {
  flex-basis: calc(100% / 3 - 30px);
  margin: 15px;
}

.work__list-text {
  position: relative;
  width: 100%;
}

.work__list-btm-text {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-btn-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.descop,
.mobile,
.designer {
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-section {
  background-color: #F5F4FA;
}

.team__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  font-size: 28px;
  line-height: 1.17;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .team__title {
    margin: 0 auto 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin: 0 auto 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.team__list {
  padding-left: 0;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    padding-left: 0;
    margin-top: 0;
  }
}

.team__list-item {
  width: 100%;
  height: 622px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-bottom: 1px solid var(--main-color-icon);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-btn-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .team__list-item {
    width: 354px;
    height: 536px;
    flex-basis: calc(100% / 2 - 30px);
    margin-bottom: 0;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list-item {
    flex-basis: calc(100% / 4 - 30px);
    width: 270px;
    height: 428px;
    margin-left: 30px;
    margin-bottom: 0;
  }
}

.team__list-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__list-pre-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 auto 10px;
  color: var(--main-title-color);
}

.team__list-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 auto;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.team__list-social {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.team__social-item {
  width: 44px;
  height: 44px;
}

.team__social-item + .team__social-item {
  margin-left: 10px;
}

.team__social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color-icon);
}

.team__social-icon {
  fill: currentColor;
  transition: color 250ms linear, background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-link:hover,
.team__social-link:focus {
  background-color: var(--main-hover-color);
  color: var(--main-btn-color);
}

.client-title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .client-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .client-list {
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .client-list {
    margin: -15px;
    flex-wrap: nowrap;
  }
}

.client__item {
  width: calc(100% / 2 - 30px);
  width: 210px;
  height: 92px;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .client__item {
    flex-basis: calc(100% / 3 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    margin: 15px;
  }
}

.client__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-color-icon);
  border-radius: 2px;
  color: var(--main-color-icon);
  transition: color 250ms linear, bordtr 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:focus, .client__link:hover {
  color: var(--main-hover-color);
  border: 1px solid var(--main-hover-color);
}

.client__social-icon {
  fill: currentColor;
}

.gallery {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.gallery__nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .gallery__nav-list {
    display: flex;
    justify-content: center;
  }
}

.gallery__nav-list-item {
  margin-right: 8px;
  margin-bottom: 15px;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__nav-list-item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.gallery__nav-list-item:nth-child(- n + 3) {
  margin-bottom: 0;
}

.gallery__nav-list-item:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (min-width: 768px) {
  .gallery__nav-list-item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__nav-list-item {
    margin-bottom: 50px;
  }
}

.gallery__btn {
  font-family: inherit;
  font-style: 400;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  border: none;
  background: #F5F4FA;
  border-radius: 4px;
  padding: 0;
  transition: color 250ms linear, background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__btn:hover, .gallery__btn:focus {
  background-color: var(--main-hover-color);
  color: var(--main-btn-color);
}

.btn-all {
  height: 38px;
  min-width: 73px;
}

.btn-web {
  height: 38px;
  min-width: 128px;
}

.btn-applications {
  height: 38px;
  min-width: 145px;
}

.btn-design {
  height: 38px;
  min-width: 103px;
}

.btn-marketing {
  height: 38px;
  min-width: 130px;
}

.gallery__list {
  margin: -15px;
  padding-left: 0;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
    margin-top: 30px;
  }
  .gallery__list:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.gallery__list-item {
  margin: 15px;
  background: #FFFFFF;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  box-sizing: border-box;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__list-item:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gallery__list-item:hover .gallery-top-text {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .gallery__list-item {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .gallery__list-item {
    flex-basis: calc(100% / 3 - 30px);
    margin: 15px;
  }
}

.gallery__content {
  padding: 20px 24px;
}

.gallery__content-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin: 0 auto 4px;
}

.gallery__content-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin: 0 auto;
}

.gallery__list-item-wrap {
  position: relative;
  overflow: hidden;
}

.gallery-top-text {
  position: absolute;
  top: 0;
  left: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-btn-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  margin: 0 auto;
  transform: translateY(100%);
  transition: transform 250ms;
}

.footer {
  background-color: var(--main-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer > .container {
    display: flex;
  }
}

.footer__list {
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .footer__left {
    margin-left: 76px;
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__left {
    margin: 0;
  }
}

.footer__list-item {
  margin-top: 9px;
}

.footer__list-item:first-child {
  margin-top: 20px;
}

.footer__list-item:last-child {
  padding-bottom: 0;
}

.footer__left-nav-logo {
  padding-top: 0;
}

.footer__left-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-hover-color);
}

@media screen and (min-width: 768px) {
  .footer__left-logo {
    font-size: 24px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .footer__left-logo {
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.footer__left-logotyp {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-btn-color);
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__left-logotyp:hover, .footer__left-logotyp:focus {
  color: var(--main-hover-color);
}

@media screen and (min-width: 768px) {
  .footer__left-logotyp {
    font-size: 24px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .footer__left-logotyp {
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.footer__list-nav-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-btn-color);
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__list-nav-link:hover, .footer__list-nav-link:focus {
  color: var(--main-hover-color);
}

.footer__list-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__list-mail:hover, .footer__list-mail:focus {
  color: var(--main-hover-color);
}

.footer__list-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__list-tel:hover, .footer__list-tel:focus {
  color: var(--main-hover-color);
}

.footer__nav {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__nav {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__nav {
    margin-left: 70px;
    box-sizing: inherit;
  }
}

.footer__nav-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-btn-color);
  text-transform: uppercase;
  margin-top: 0;
  margin-top: 60px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer__nav-title {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__nav-title {
    margin-top: 0;
  }
}

.footer__nav-social-list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  filter: drop-shadow(0px 4px 4px, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  color: var(--main-btn-color);
  transition: color 250ms linear, background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--main-hover-color);
  color: var(--main-btn-color);
}

.social__icon {
  fill: var(--main-btn-color);
}

.footer__right {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__right {
    margin-right: auto;
    margin-left: auto;
  }
}

.footer__right-titel {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-btn-color);
  margin-top: 60px;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .footer__right-titel {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__right-titel {
    width: 219px;
    margin-left: 93px;
    margin-top: 0;
  }
}

.footer__right-form-icon {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__right-form-icon {
    display: flex;
  }
}

.footer__right-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
  background-color: transparent;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__right-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer__right-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__right-input {
    width: 358px;
    margin-left: 93px;
    display: flex;
    align-items: center;
    margin-right: 12px;
  }
}

.footer-btn {
  margin: 0 auto;
  padding-left: 29px;
}

@media screen and (min-width: 1200px) {
  .footer-btn {
    display: flex;
  }
}

.btn-icon {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */