.hero {
    background-color: var(--main-bg-color);
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            #2f303a66),
            url(../img/hero/hero-bg-mob-1x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 118px;
    padding-bottom: 118px;
    margin: 0 auto;
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../img/hero/hero-bg-mob-2x.png);
    }
    @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../img/hero/hero-bg-tab-1x.png);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../img/hero/hero-bg-tab-2x.png);
        }
        padding-top: 118px;
        padding-bottom: 118px;
    }
    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../img/hero/hero_bg.png);
            padding-top: 200px;
            padding-bottom: 200px;
}
}

.hero__title {
    font-weight: 900;
    font-style: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    height: 120px;
    margin: 0 auto 30px;
    color: var(--main-btn-color);
    width: 360px;
    height: 84px;
    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
        width: 696px;
        min-height: 120px;
    }
}

