:root {
    --main-title-color: #212121;
    --main-text-color: #757575;
    --main-btn-color: #FFFFFF;
    --main-bg-color: #2F303A;
    --main-hover-color: #2196F3;
    --main-color-icon: #AFB1B8;
}